@import url('./assets/normalize.css');
@import url('./assets/fonts/Gilroy/stylesheet.css');

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Gilroy';
  overflow-x: hidden;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
}

.header,
.main,
.footer,
.main-form-section {
  width: 1240px;
  background-color: transparent;
}

.wrapper {
  width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(180deg, rgba(3, 90, 154, 1) 0%, rgba(20, 116, 255, 1) 50%, rgba(26, 147, 255, 1) 100%);
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.header-title {
  font-weight: 900;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 6px;
}

.main {
  height: auto;
}

.main-title-section {
  margin-bottom: 200px;
  padding: 100px 0 100px 0;
  box-sizing: border-box;
  display: flex;
}

.main-title-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-block-title {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 50px;
  color: #efefef;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.description-company-name {
  color: #3374EB;
}

.title-block-description {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 17px;
  color: #efefef;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.guard-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  width: 119%;
  top: -70px;
  right: -615px;
  background-color: transparent;
  border-radius: 20px;
  z-index: 1;
}

.guard-block-shield-image {
  height: 90%;
  width: 70%;
  opacity: 0.7;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.3));
}

.shield-data {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: #efefef;
  opacity: 0.2;
}

.main-description-section {
  margin-left: calc(100vw - 1240px / 2);
}

.description-section-container,
.main-form-section {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-section-title,
.form-section-title {
  margin-bottom: 100px;
  font-weight: 200;
  font-size: 50px;
  color: #efefef;
  letter-spacing: 2px;
}

.description-section-features-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.feature-item {
  width: calc(33% - 25px);
  height: auto;
  padding: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(43, 42, 69, 0.4);
  border-radius: 10px;
}

.feature-item-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #efefef;
  letter-spacing: 2px;
}

.feature-item-description {
  text-align: center;
  font-weight: 200;
  font-size: 17px;
  color: #efefef;
}

.form-block {
  width: 60%;
  padding: 56px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(43, 42, 69, 0.4);
  border-radius: 20px;
}

.form-block input {
  padding-left: 10px;
  width: 90%;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #efefef;
  outline: none;
  background-color: inherit;
  color: #efefef;
}

.form-btn {
  margin-top: 60px;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #efefef;
  outline: none;
  background-color: inherit;
  color: #efefef;
  cursor: pointer;
}

.footer {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #efefef;
}

.rect {
  width: 100%;
  height: 100px;
}

