@import url('./assets/normalize.css');
@import url('./assets/fonts/Gilroy/stylesheet.css');

:root {
  --svg-stroke-dashoffset: 1200;
}

.guard-block svg {
  filter: drop-shadow(0 0 10px white);
}

.guard-block path {
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: var(--svg-stroke-dashoffset);
  stroke-dashoffset: var(--svg-stroke-dashoffset);
  animation: draw 3s linear forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Gilroy';
  overflow-x: hidden;
}

.header,
.main,
.footer,
.about-section-container,
.description-section-title,
.description-section-features-block,
.form-section-container,
.footer-container {
  width: 1240px;
  background-color: transparent;
}

.wrapper {
  width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(180deg, rgba(3, 90, 154, 1) 0%, rgba(20, 116, 255, 1) 50%, rgba(26, 147, 255, 1) 100%);
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
}

.header-title {
  font-weight: 900;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 6px;
}

.main {
  height: auto;
}

.main-title-section {
  margin-bottom: 200px;
  padding: 100px 0 100px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.main-title-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-block-title {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 50px;
  color: #efefef;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.description-company-name {
  color: #3374EB;
}

.title-block-description {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 17px;
  color: #efefef;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.guard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  background-color: transparent;
  border-radius: 20px;
  z-index: 1;
}

.guard-block-shield-image {
  height: 90%;
  width: 70%;
  opacity: 0.7;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.3));
}

.shield-data {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: #efefef;
  opacity: 0.2;
}

.description-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-section-container {
  width: 100%;
  padding: 100px 0 200px 0;
  background-color: #FFFFFF;
  color: #035A9A;
}

.description-section-title {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

.about-section {
  padding: 100px 0 150px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efefef;
}

.about-section-title {
  margin-bottom: 100px;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

.about-section-container {
  display: flex;
  flex-direction: column;
}

.about-item {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 30px;
}

.about-item-title {
  width: 50%;
}

.about-item:nth-child(even) {
  flex-direction: row-reverse;
}

.arrow-block {
  padding: 30px 0 0 60px;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.arrow-image {
  width: 200px;
}

.rotated {
  transform: rotateY(180deg);
}

.description-section-features-block {
  display: flex;
  flex-direction: column;
}

.feature-item {
  width: 100%;
  margin-bottom: 50px;
  height: auto;
  padding: 60px 0 60px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: none;
}

.feature-item:nth-child(2) {
  flex-direction: row-reverse;
}

.feature-item-title-block {
  width: calc(45% - 15px);
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.feature-item-title {
  font-size: 45px;
  margin-bottom: 30px;
}

.feature-item-description {
  text-align: start;
  font-weight: 200;
  font-size: 30px;
}

.form-section {
  width: 100%;
  padding: 200px 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.form-section-container {
  display: flex;
  justify-content: space-between;
}

.form-section-title,
.form {
  width: calc(50% - 50px);
}

.form-section-title {
  font-size: 30px;
  color: #035A9A;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  color: #035A9A;
}

.input {
  width: 100%;
  margin-bottom: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid #035A9A;
  font-size: 20px;
}

.form-btn {
  width: 50%;
  margin-top: 30px;
  padding: 16px 32px;
  background-color: #FFFFFF;
  border: 1px solid #035A9A;
  border-radius: 5px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #035A9A;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #efefef;
}

.dark-circle,
.light-circle {
  width: 100%;
  height: 100px;
}

.light-circle {
  background-color: #FFFFFF;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .header,
  .main,
  .about-section-container,
  .description-section-title,
  .description-section-features-block,
  .form-section-container,
  .footer-container {
    width: 90%;
  }
}

@media screen and (max-width: 1400px) { 
  .main-title-section {
    flex-direction: column-reverse;
  }

  .guard-block {
    margin-bottom: 50px;
  }

  .main-title-block {
    width: 100%;
    text-align: center;
  }

  .main-title-section {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1120px) {
  .about-section,
  .description-section-container {
    padding-bottom: 100px;
  }

  .feature-item img,
  .arrow-block {
    display: none;
  }

  .feature-item-title-block,
  .about-item-title {
    width: 100%;
  }

  .form-section-container {
    flex-direction: column;
    align-items: center;
  }

  .form-section-title {
    text-align: center;
    margin-bottom: 70px;
  }

  .form-section-title,
  .form {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .title-block-title,
  .description-section-title,
  .about-section-title {
    font-size: 35px;
  }

  .description-section-title {
    margin-bottom: 50px;
  }

  .feature-item-title {
    font-size: 30px;
  }

  .feature-item-description,
  .about-item {
    font-size: 20px;
  }

  .feature-item {
    margin-bottom: 0;
  }

  .description-section-container,
  .about-section {
    padding-bottom: 25px;
  }
}

